[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
langchain = "*"
python-dotenv = "*"
tiktoken = "*"
streamlit = "*"
streamlit-chat = "*"
pypdf = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.11"

[scripts]
start = "streamlit run ai_assistant.py"
